.container1 {
    height: 70svh;
    background: linear-gradient(to bottom, rgba(188, 188, 188, 0), rgb(255, 255, 255)), url(../images/LandingPageImages/image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.img {
    border: solid;
    border-radius: 10px;
}

.sectionProducts {
    background: linear-gradient(white, rgba(101, 101, 189, 0.361), white);
}